.imovel-actions {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.thumbnail {
    height: 400px; 
}

.imageThumb {    
    max-width: 200px;
    max-height: 200px;
    width: auto;
    height: auto;
}

.tamanhoImagem {
    display: flex;
    align-items: center;
    justify-content: center;    
    max-width: 300px;
    height: 250px;    
}